<h1>Update Information</h1>

<%= form_for @supperclub do |f| %>

<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<div> 
	<%= f.label :location %>
	<%= f.text_field :location %>
</div>

<div>
	<%= f.label :website %>
	<%= f.text_field :website %>
</div>

<div>
	<%= f.label :exclusivity %>
	<%= f.text_field :exclusivity %>
</div>

<div>
	<%= f.file_field :image %>
</div>

<%= f.submit "Submit" %>

<% end %>

<%= link_to "Delete #{@supperclub.name}", delete_supperclub_path, method: :delete, data: {confirm: "Are you sure?"}%>